/* метрические параметры */
p  { margin : 0 }
br { line-height : 3em }

.help p { margin-bottom: 10px }

/* заголовок */
h1 span.super {
    font-size: small;
    margin-left: 5px;
    vertical-align: top;
    font-weight: normal;
}

/* общее для обеих форм */
h2 { clear : both }
.container { clear: both }

/* закладочки */
.tabs { 
    display : none;
    width: 100%;
}
.tabs div {
    float: left; 
    padding: 3px 8px;
    height: 20px;
}
.tabs div.tab { 
    cursor: pointer; 
    color: #888;
    border: 1px solid #888;
    margin: 2px;
}
.tabs div.tab.active { 
    color: #000;
    border: 3px double #000;
    margin: 0px;
}
.tabs div.filler { min-width: 1px; margin: 3px }

/* поля форм */
.container table.form { width: 100% }
.container input { width: 90%; margin: 1px }
.container textarea { width: 90%; margin: 1px }

/* экранная клавиатура */
div.hangulEntry {
    display : none;
    position: absolute;
}
div.hangulEntry div.keyboard {
    background : #fff;
    border: 1px black solid;
}
div.hangulEntry div.keyboard div.case {
    display : none;
    width   : 800px;
}
div.hangulEntry div.keyboard div.case br.clear { clear: both }
div.hangulEntry div.keyboard div.case div.line { clear: both }
div.hangulEntry div.keyboard div.case div.line1 { padding-left : 25px; }
div.hangulEntry div.keyboard div.case div.line2 { padding-left : 50px; }
div.hangulEntry div.keyboard div.case div.line .key {
    min-width   : 60px;
    margin      : 3px;
    border      : 1px solid black;
    padding     : 0 5px;
    float       : left;
    cursor      : pointer;
}
div.hangulEntry div.keyboard div.case div.line .key.special {
    float   : right;
    height  : 50px;
}

/* конец экранной клавиатуры */

